@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1b2e0;
}

canvas {
    width: 800px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: "VT323", monospace;
}
